* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

header {
    background: rgb(54, 50, 50);
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

main {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
}

.search-container {
    flex: 0 1 280px;
    background: rgb(54, 50, 50);;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 15px;
}

.search-form {
    margin-bottom: 25px;
}

.search-form label {
    font-size: 22px;
    color: white;
    display: block;
}

.search-form input {
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
}

.search-form button {
    display: block;
    margin: 2px auto;
    border: none;
    border-radius: 5px;
    width: 237.9px;
    padding: 10px;
    font-size: 15px;
    background: rgb(36, 87, 228);
    color: white;
    cursor: pointer;
}

.search-form button:hover {
    background: rgb(6, 63, 221);
}

.search-history li {
    list-style: none;
    background: white;
    border: gray 1px solid;
    padding: 15px;
    cursor: pointer;
}

.search-history li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search-history li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.forecast-container {
    flex: 1 1 70%;
    display: none;
    flex-flow: column wrap;
    padding-left: 30px;
}

.current-forecast-container {
    padding: 25px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
}

.current-forecast-container p {
    padding: 8px 0;
    font-size: 20px;
}

.current-uvi {
    display: flex;
}

.current-uvi span {
    font-size: 20px;
    padding: 8px;
    margin-left: 5px;
    border-radius: 10px;
}

.future-forecast-wrapper {
    margin-top: 10px;
}

.future-forecast-wrapper h2 {
    padding-left: 25px;
}

.future-forecast-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-bottom: 15px;
}

.future-forecast {
    text-align: center;
    margin-top: 15px;
    padding: 25px;
    background: rgb(36, 87, 228);
    color: white;
    border-radius: 10px;
}

.future-forecast:last-child {
    margin-right: 0;
}

.future-forecast p:last-child {
    padding-top: 15px;
}

@media screen and (max-width:1210px) {
    main {
        display: block;
    }

    .search-form button {
        display: inline-block;
        font-size: 20px;
    }

    .forecast-container {
        padding-left: 0;
        text-align: center;
    }

    .current-forecast-container {
        margin-top: 15px;

    }

    .current-forecast-container h2 {
        font-size: 35px;
    }

    .current-uvi {
        justify-content: center;
    }

    .future-forecast-wrapper h2 {
        padding-left: 0;
        font-size: 28px;
    }

    .future-forecast-container {
        display: block;
    }
    
    .future-forecast h3 {
        font-size: 25px;
    }

    .future-forecast p {
        font-size: 20px;
    }
}

@media screen and (max-width:610px) {
    .search-form input {
        width: 100%;
    }

    .search-form button {
        width: 100%;
    }
}